<?php

/** @var \Improving\Events\Block\Event\Name $block */ ?>
<?php /** @var \Magento\Framework\Escaper $escaper */ ?>
<?php $event = $block->getEvent();?>
<?php if ($event): ?>
    <div class="event">
        <strong><?= $escaper->escapeHtml(__($block->getLabel())); ?></strong>
            <?= $escaper->escapeHtml(__($event->getTitle())); ?>
    </div>
<?php endif;
